.experiene-box {
    border-left: 3px solid #00BCD4;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    padding: 0 30px;
    margin-left: 280px;

    .item {
        position: relative;
        margin-bottom: 45px;
    }

    .designation {
        position: absolute;
        left: -280px;
        top: 0;
    }

    .info {
        margin-top: 0;
        margin-bottom: 15px;
        position: relative;
    }

    .place {
        position: absolute;
        right: 0;
        top: 2px; 
    }

}

@media only screen and (max-width: 1200px){
    /*Tablets [751px -> 1200px]*/
    .experiene-box {
        margin-left: 180px;
    }
    .designation {left: -200px !important;}
}
@media only screen and (max-width: 750px){
	/*Big smartphones [426px -> 750px]*/
    .experiene-box {
        margin-left: 140px;
    }
    // .designation {left: -200px !important;}
    .place {
        position: static !important;
    }
    .designation {
        position: static !important;
    }
    .experiene-box {
        margin-left: 0px !important;
    }
}
@media only screen and (max-width: 540px){
	/*Big smartphones [426px -> 750px]*/
    .company--name {
        font-size: 28px !important;
    }
    .designation {
        font-size: 14px !important;
        left: -158px !important;
    }
    .experiene-box {
        margin-left: 90px;
    }
}