.header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    margin: 0px auto;
    padding: 0px 40px;

    .img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-style: none;
    }

    .title {
        letter-spacing: -0.2px;
        line-height: 1.4;
        padding-top: 3px;
        margin: 10px 20px;
    }

    .social {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    li {
        display: inline-block;
    }
    li:not(:first-child) {
        margin-left: 30px;
    }

    .links-wrapper {
        display: flex;
    }
}

@media only screen and (max-width: 545px){
	/*Small smartphones [325px -> 425px]*/
    .header {
        li:not(:first-child) {
            margin-left: 5px !important;
        }
    }
}
@media only screen and (max-width: 440px){
	/*Small smartphones [325px -> 425px]*/
    .header {
        width: 100%;
        .social {
            margin-left: auto;
        }
        li {
            margin: 0px !important;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
}