

.contact-info-wraper {
    height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;

    .contact-links {
        display: flex;
        gap: 1rem;
    }
    .link-gap {
        gap: 5px;
    }
}
@media only screen and (max-width: 750px){
	/*Big smartphones [426px -> 750px]*/
 .contact-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
}