.intro-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 30px;
    .profile-title {
        margin-bottom: 2rem;
    }
}
.intro__text {
    max-width: 656px !important;
}

.intro--name {
    margin-bottom: 2rem;
} 

@media only screen and (max-width: 540px){
.intro--name {
    font-size: 2rem !important;
}
.profession {
    font-size: 1.4rem !important;
}
}