
  .section-wrapper {
    padding: 30px;
    border-radius: 0;
    box-shadow: none !important;
    background-clip: padding-box;
    width: 80%;
    .section-title {
        margin-bottom: 45px !important;
        text-align: center;
        font-weight: 600 !important;
    }
  }

  @media screen and (max-width: 768px) {
    .section-wrapper {
      padding: 20px;
    }
  }