
  .section-wrapper {
    padding: 45px;
    border-radius: 2px;
    background-clip: padding-box;
    width: 80%;
    .section-title {
        margin-bottom: 45px !important;
        text-align: center;
        font-weight: 600 !important;
    }
  }